services:
  rac:
    build:
      context: .
      dockerfile: ./dockerfile
    env_file:
      - .env
    environment:
      UV_THREADPOOL_SIZE: ${UV_THREADPOOL_SIZE}
      DB_POOL_SIZE: ${DB_POOL_SIZE}
      DB_CONNINFO: ${DB_CONNINFO}
      PORT: ${PORT}
      BACKLOG: ${BACKLOG}
    ports:
      - "8080:8080"
    networks:
      - postgres_network
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    container_name: postgres
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - postgres_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgresql_data:
    driver: local

networks:
  postgres_network:
    driver: bridge
